
body {
    margin: 0;
    height: 100vh;
    background: 
        radial-gradient(circle at 20% 30%, #cacaca, transparent 70%),
        radial-gradient(circle at 80% 70%, #e0e0e0, transparent 70%),
        radial-gradient(circle at 50% 50%, #babab2, #f0f0f0);
    background-blend-mode: multiply;
}


.container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.calculator {
    display:flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    width: 300px;
    height: 478px;
    border: 10px solid #533320;
    background-color: #533320;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
.display {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    justify-content:right;
    align-items:flex-end;
    width: 288px;
    height: 100px;
    background-color:#757458;
    margin: 5px;
    padding: 15px 5px;
    color: rgba(0, 0, 0, 0.742);
    text-align: right;
    font-size: 45px;
    border: 5px solid #462b1b;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.2);
    /* border-style: double; */
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.button {
    width: 70px;
    height: 70px;
    color: rgba(0, 0, 0, 0.742);
    font-size: 18px;
    font-weight: 500;
    color: rgba(245, 245, 245, 0.884);
    background-color: #73472d;
    border-radius: 5px;
    /* border: 1px solid #73472D; */
    transition: background-color .2s ease-in;
    border: 6px solid #462b1b;
    border-style: double;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.402),  
                -2px -2px 5px rgba(255, 255, 255, 0.107); 
}
.button:hover{
   cursor: pointer;
   opacity: 0.90;
}

.button:active {
    opacity: 0.7;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.2);
}

/* .button.number{
    background-color: #362312; 
} */
